[Unit]
Description=ElasticSearch Service
After=network.target

[Service]
ExecStart={{ elastic_home }}/bin/elasticsearch
PIDFile=/usr/local/bin/elasticsearch/run/elasticsearch.pid
User=elasticsearch
Type=simple
Restart=always

[Install]
WantedBy=default.target