---
# Use a descriptive name for your cluster:
#
cluster.name: TGS_CLUSTER

# Use a descriptive name for the node:
#
node.name: TGS-1

# Set the bind address to a specific IP (IPv4 or IPv6):
#
network.host: 0.0.0.0

discovery.type: single-node

path.logs: /var/log/elasticsearch/
path.data: {{ elastic_home }}/data

# Set a custom port for HTTP:
#
http.port: 9200